# github.com
Host github.com
	HostName github.com
	User git
	StrictHostKeyChecking no
	IdentityFile ~/.ssh/hexo_rsa
	IdentitiesOnly yes
	
# git.coding.net
Host git.coding.net
	HostName git.coding.net
	User git
	StrictHostKeyChecking no
	IdentityFile ~/.ssh/hexo_rsa
	IdentitiesOnly yes
